body {
    font-family: 'HP Simplified';
    background-color: #f4f4f4;
    margin: 0;
}

h1, h3 {
    margin-top: 30px;
    color: #0056b3;
}

.heading-container {
    text-align: center;
    margin-bottom: 20px;
}

    .heading-container h1 {
        color: white;
        font-family: 'HP Simplified Hans', sans-serif;
        font-weight: 800;
        font-size: 2.5em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        background-color: indigo;
        padding: 10px;
        border-radius: 5px;
    }

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    button:hover {
        background-color: #0056b3;
    }

    button:active {
        transform: scale(0.95);
    }

p {
    font-size: 16px;
}

.feedback-container {
    height: 40px;
/*    overflow: hidden;*/
}

.feedback {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.feedback-present {
    background-color: #d4edda;
    color: #155724;
}

.feedback-absent {
    background-color: #f8d7da;
    color: #721c24;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.student-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 250px;
    transition: transform 0.2s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
}

.card-text {
    font-size: 0.9em;
}

.btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #c82333;
    }

.student-details {
    display: flex;
    align-items: center;
}

.student-image {
    margin-right: 20px;
}

    .student-image img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
        object-fit: cover;
    }

.student-info {
    flex-grow: 1;
}