<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="font-family: 'HP Simplified Hans'">Attendance System</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class ="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color: indigo;">
    <nav class="flex-column" style="padding-bottom: 400px;">
        <div class="nav-item px-3">
            <NavLink class="nav-link mb-4" href="" Match="NavLinkMatch.All" style="background-color: lightyellow; color: black">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 mb-4">
            <NavLink class="nav-link" href="attendance" style="background-color: black; color: lightyellow">
                <span aria-hidden="true"></span> Attendance
            </NavLink>
        </div>
        <div class="nav-item px-3 mb-4">
            <NavLink class="nav-link" href="searchattendance" style="background-color: lightyellow; color: black">
                <span aria-hidden="true"></span> Search Attendance
            </NavLink>
        </div>
        <div class="nav-item px-3 mb-4">
            <NavLink class="nav-link" href="attendancesummary" style="background-color: black; color: lightyellow">
                <span aria-hidden="true"></span> Attendance Summary
            </NavLink>
        </div>
        <div class="nav-item px-3 mb-4">
            <NavLink class="nav-link" href="studentoperations" style="background-color: lightyellow; color: black">
                <span aria-hidden="true"></span> Student Operations
            </NavLink>
        </div>
        <div class="nav-item px-3 mb-4">
            <NavLink class="nav-link" href="markpreviousattendance" style="background-color: black; color: lightyellow">
                <span aria-hidden="true"></span> Mark Previous Attendance
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
